/* Root Colors */
$white: #ffffff;
$black: #181818;

/* Semantic Colors */
$background-01: $white;
$background-02: $white;

$text: $black;

/* Dark Mode Colors*/
@media (prefers-color-scheme: dark) {
  $background-01: $black;
  $background-02: $black;

  $text: $white;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
